@import "bootstrap";

.angular-google-map-container { 
  height: 35em; 
  width: 40em;
  margin: 0 auto;
}

.map{
}

.list{
  height: 35em;
  width: 35em;
  margin: 0 auto;
  background: #F8F8F8;
  h3{
    text-align: center;
  }
  li{
    list-style: none;
  }
}